.bg {
  background-color: blue;
}
/* .first {
  width: 20%;
  height: 20%;
  text-align: left;
  background-color: red;
}
.second {
  width: 20%;
  height: 20%;
  text-align: center;
  background-color: red;
}
.third {
  width: 20%;
  height: 20%;
  text-align: right;
  background-color: red;
} */
