.bg-container {
  background-color: white;
  text-align: center;
}

.image {
  height: 600px;
  width: 800px;
}

.card-items {
  background-color: white;
  border-color: #707070;
  color: #0a1f44;
  padding: 10px;

  font-family: roboto;
}

.heading {
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
}

.para {
  font-size: 30px;
  padding: 5px;
  color: #5a7184;
}

.para2 {
  font-size: 20px;
  padding: 5px;
  color: #5a7184;
}

.card1 {
  margin: 40px;
  padding: 20px;
}

.button {
  text-align: center;
}
