@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-image: url(https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png);
  background-size: cover;
  color: #ffffff;
  text-align: center;
  font-family: Bree serif;
  height: 100vh;
  align-items: center;
}

.card-items {
  background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png);
  height: 25vh;
  color: #ffe7bf;
  padding: 60px;
  text-align: center;
  margin: 20px;
  background-size: cover;
  width: 98vw;
}

.music-description {
  color: #ffffff;
}

.button {
  color: #ffffff;
  background-color: #8e97fd;
  text-align: center;
  width: 10vw;
  border-radius: 25px;
}
