.bg-container {
  background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png);
  background-size: cover;
  padding: 20px;
}

.card1-heading {
  color: white;
  font-size: 30px;
  padding: 10px;
  font-family: roboto;
  font-weight: bold;
}

.button {
  border-radius: 10px;
  color: #ff8348;
  border-color: white;
  padding: 10px;
}

.para {
  font-size: 20px;
  color: white;
  padding: 10px;
}

.para2 {
  font-size: 30px;
  color: white;
  padding: 10px;
}

.similar-mv {
  margin: 10px;
  margin-right: 20px;
}
